@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Lora:wght@400;700&display=swap');

html, body {
  font-family: "Segoe UI", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
    

}

body.cocktail-gradient-bg, html.cocktail-gradient-bg {
  background-color: rgba(184, 157, 76, 0.658) !important;
}

h1, h2, h3 {
  font-family: "Segoe UI", sans-serif;
}
